.App {
  text-align: center;
}

#calc {
  display: grid;
  max-width: 27rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .3em;
  padding: .5rem;
  margin: 2rem auto;
  font-size: 2rem;
  background: rgb(136, 136, 136);
}

#calc>div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgb(182, 181, 181);
  box-shadow: 0 0 .03em lightslategray;
  border-radius: .2em;
  background: whitesmoke;
}

#calc>div:hover {
  cursor: pointer;
  background: lime;
}

#calc>div:first-child {
  grid-column: 1 / 5;
  grid-row: 1;
  width: 90%;
  margin: .3em auto;
}

#calc>div:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2;
}

#calc>div:nth-last-child(3) {
  grid-column: 1 / 3;
  grid-row: 6;
}

.calculator__display {
  width: 100%;
  font-size: 2.7rem;
  text-align: right;
}

.operator:hover{
  background: rgb(231, 139, 58) !important;
  color: white !important;
}

.selectOp {
  background: rgb(231, 118, 22) !important;
  box-shadow: 0 0 .2em rgb(231, 118, 22) !important;
  color: white !important;
}
